@using EM.Domain
@model Aluno
@{
    ViewData["Title"] = "Confirmação excluir Aluno";
}

<div class="text-center">
    <h3>Deseja excluir o aluno (@Model.Nome)?</h3>
<br />
    <a class="btn btn-primary" role="button" asp-controller="Aluno" asp-action="Index">Cancelar</a>
    <a class="btn btn-primary" role="button" asp-controller="Aluno" asp-action="ExcluirConfirmacao">Confirmar</a>
    
</div>
